{% extends 'base.html' %}
{% block content %}
    <div class="container px-4 py-5" id="featured-3">
        <h2 class="pb-2 border-bottom">Гостевая книга</h2>
        <a href="{% url 'add' %}">
            <button type="submit" class="btn btn-primary" style="margin-left: 10px">Добавить</button>
        </a>
    <div class="row">
                {% for books in book %}
            <div class="card col-6" style="width: 30rem; padding: 20px; margin: 10px">
                <div class="icon" style="display: flex; justify-content: space-between">
                    <a href="{% url 'book_update' books.pk %}"><i class="fas fa-duotone fa-pen"
                                                                  style="padding: 8px;"></i></a>
                    <a href="{% url 'book_delete' books.pk %}"><i class="fas fa-sharp fa-solid fa-trash"
                                                                  style="padding: 10px"></i></a>
                </div>
                <h2>{{ books.author }}</h2>
                <p>({{ books.email }})</p>
                <p>{{ books.text }}</p>
            </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}